@import "tailwindcss";

/* bilbo-swash-caps-latin-400-normal */
@font-face {
  font-family: 'Bilbo Swash Caps';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(C:/Users/sebax/Desktop/Universidad/Proyectos_aleatorios/RepoEstilosWeb/RepoReact/node_modules/@fontsource/bilbo-swash-caps/files/bilbo-swash-caps-latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* bebas-neue-latin-400-normal */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(C:/Users/sebax/Desktop/Universidad/Proyectos_aleatorios/RepoEstilosWeb/RepoReact/node_modules/@fontsource/bebas-neue/files/bebas-neue-latin-400-normal.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@theme {
  --font-BilboSwashCaps: 'Bilbo Swash Caps', cursive;
  --font-BebasNeue: 'Bebas Neue', sans-serif;
}

@layer base {
  :root {
    @apply text-[rgba(255,255,255,0.87)] bg-[#DFC2D8] font-sans overflow-hidden;
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0;
  }
}

body::-webkit-scrollbar {
  visibility: hidden;
}

/* body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0.05;
  background: url("./logo.svg");
  background-size: 256px;
  transform: rotate(-12deg) scale(1.35);
  animation: slide 30s linear infinite;
  pointer-events: none;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 256px 224px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
} */
